.calculator {
    position: relative;
    display: grid;
    &__value {
        grid-column: span 4;
        height: 100px;
        text-align: right;
        padding: 10px;
    }
    & span {
        display: grid;
        grid-template-rows: repeat(1, 50px);
        color: #fff;
        background-color: #0c2835;
        place-items: center;
        align-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        cursor: pointer;
        &:active {
            background: #74ff3b;
            color: #111;
        }
    }
}
